@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background: rgba(26, 4, 51, 0.849);
  font-family: "Press Start 2P", cursive;
  overflow-x: hidden;
  
  background-image: url(./Luiz\ Villela.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* header */

.header-container {
  
  height: 48vw;
  width: 100vw;
  color: rgb(10, 0, 20);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 18vw;
  position: relative;
}
#eu {
  text-align: center;
  position: relative;
  align-items: center;
  margin-top: 4vw;
  border-radius: 100vw;
  justify-content: center;
  background-color: rgba(119, 6, 248, 0.11);
}
.social-midia {
  width: 200vh;
  margin-top: 5vw;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.social-midia a {
  text-decoration: none;
  color: rgb(0, 194, 253);
  font-size: 1vw;
  border: 1px solid rgb(0, 194, 253);
  padding: 2vw 9vw;
  min-width: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}
a:hover {
  background-color: rgb(109, 107, 107);
}

/* menu hamburguer */

#toggle {
  display: none;
}
.menu {
  position: relative;
  top: 28vw;
  right: 30vw;
  background-color: transparent;
  height: 0vw;
  width: 10vw;
  border-radius: 50vw;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.068);
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}
.menu-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vw;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out 0s;
}
.menu-items ul {
  list-style-type: none;
}
.menu-items ul li a {
  margin: 10vw 0;
  color: #ffd700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1vw;
  font-size: 6vw;
}

.container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3vw;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
}
.card {
  width: 22vw;
  height: 22vw;
  border-radius: 100vw;
  margin: 3vw 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(44, 158, 143, 0.918);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
#projeto-1 {
  background-image: url("./Reading\ glasses-cuate.png");
  width: 22vw;
  height: 22vw;
  border-radius: 100vw;
  margin: 3vw 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 158, 152);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

#projeto-2 {
  background-image: url("./Reading\ glasses-cuate.png");

  width: 22vw;
  height: 22vw;
  border-radius: 100vw;
  margin: 3vw 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 158, 152);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
#projeto-3 {
  background-image: url("./Reading\ glasses-cuate.png");
  width: 22vw;
  height: 22vw;
  border-radius: 100vw;
  margin: 3rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 158, 152);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
#link1 {
  text-decoration: none;
  color: #ffd700;
}
.card-text {
  width: 40vw;
  letter-spacing: 1px;
  color: rgb(109, 109, 109);
}
.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card-wrapper::before {
  content: "";
  position: absolute;
  height: 22vw;
  width: 22vw;
  border-radius: 50vw;
  display: block;
  border: 0.1vw solid white;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.card-wrapper h2 {
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 0.6vw;
  margin: 0;
  transition: 0.5s ease-in-out;
}
.card-wrapper p {
  font-size: 0;
  visibility: visible;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
.card:hover {
  filter: unset;
}
.card:hover > .card-wrapper::before {
  height: 22vw;
  width: 22vw;
  opacity: 1;
}
.card:hover > .card-wrapper p {
  opacity: 1;
  visibility: visible;
  font-size: 1vw;
}
.footer {
  width: 210vh;
  height: 10vh;
  background-color: rgb(113, 60, 212);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

@media (max-width: 900px) {
  body {
    margin: 0w;
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;
  }
  
  .social-midia {
    width: 51vh;
    margin-top: 53vw;
    margin-left: 2vw;
  }
  .social-midia a {
    width: 100vh;
    padding: 2vw 0vw;

    font-size: 3vw;
    min-width: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checkbox-container {
    color: rgba(12, 12, 12, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .checkbox {
    height: 20vw;
    width: 20vw;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    transition: 400ms ease-in-out 0s;
  }
  .checkbox .trace {
    width: 10vw;
    height: 0.9vw;
    background-color: #ffd700;
    position: fixed;
    border-radius: 4vw;
    transition: 0.5s ease-in-out;
  }
  .checkbox .trace:nth-child(1) {
    top: 3vw;
    transform: rotate(0);
  }
  .checkbox .trace:nth-child(2) {
    top: 9vw;
    transform: rotate(0);
  }
  .checkbox .trace:nth-child(3) {
    top: 15vw;
    transform: rotate(0);
  }

  #toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
  }
  #toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
  }
  #toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
  }
  #toggle:checked + .checkbox {
    background-color: #c4bcbc88;
  }
  #toggle:checked ~ .menu {
    position: relative;
    box-shadow: 0px 0px 0px 200vmax #c4bcbc88;
    z-index: 1;
  }
  #toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
  }
  #projetos {
    display: none;
    visibility: hidden;
  }
  #card-text {
    width: 100vh;
    letter-spacing: 1px;
    padding: 1rem;
  }
  .footer {
    width: 59vh;
  }
  .header-container {
    padding:  1vw;
}
}
@media (max-width: 300px){
  .footer {
    width: 43vh;
  }
 
  .social-midia {
    width: 41vh;
    margin-top: 53vw;
    margin-left: 2vw;
  }

    .header-container {
  
      height: 48vw;
      width: 90vw;
  }
}
